<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <%= __('copyright') %> &copy; <%= date(new Date(), 'YYYY') %> <span style="font-weight: bold"><%= config.author || config.title %></span><br>
      <%= __('powered_by') %> <a style="font-weight: bold" href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>